body {
    margin: 0;
    width: 100%;
}
nav {
    height: 3em; width: 100%; margin: 0; padding: 0;
    background-color: #010101; color: white; display: flex; 
    justify-content: space-between; align-content: center; align-items: center;
}
nav ul {
    font-family:'Helvetica', Sans-Serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    display: flex; flex-flow: row wrap;
    justify-content: space-around; align-content: center; align-items: center;
}
nav ul li {
    padding: 1em;
}
div#logo {

}
ul#menu li {

}
a {
    text-decoration: none;
    color: white; text-transform: uppercase;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	color:#cc6600;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #336600;
}
footer {
    border-top: 1px solid #cc6600;
    font-size: .8em;
}